<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Concierge Admnistrator Painel</title>

</head>
<body>
    <div id="web_homepage" data-role="page" data-position="inline" data-theme="a">
        <div id="content" data-role="content">
            <h1>Listing services</h1>

            <table>
              <tr>
                <th>id</th>
                <th>Servicename</th>
                <th>Provider</th>
                <th>Type</th>
                <th>Ranking</th>
                <th>Url</th>
                <th></th>
              </tr>

            <% @services.each do |service| %>
              <tr>
                <td><%= service.id %></td>
                <td><%= service.serviceName %></td>
                <td><%= service.provider %></td>
                <td><%= service.servicetype %></td>
                <td><%= service.ranking %></td>
                <td><%= service.url %></td>
                <td><%= link_to 'Destroy', :action => 'destroyservice', :id => service.id %></td>
              </tr>
            <% end %>
            </table>

            <h1>Listing Competences</h1>

            <table>
              <tr>
                <th>Service Id</th>
                <th>Competence Type</th>
                <th>Competence URL</th>
                <th>Description</th>
              </tr>

            <% @competences.each do |competence| %>
              <tr>
                <td><%= competence.service_id %></td>
                <td><%= competence.competenceType %></td>
                <td><%= competence.competenceUrl %></td>
                <td><%= competence.description %></td>
              </tr>
            <% end %>
            </table>
            <p><%= link_to 'New Service', :action => 'newservice'%></p>

            <h1>Listing Users</h1>

            <table>
              <tr>
                <th>User Id</th>
                <th>UserName</th>
                <th>Email</th>
              </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.userName %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'Destroy', :action => 'destroyuser', :id => user.id %></td>
              </tr>
            <% end %>
            </table>

            <h1>Listing Favourites</h1>

            <table>
              <tr>
                <th>User Id</th>
                <th>Favourite Id</th>
                <th>URL</th>
                <th>Title</th>
              </tr>
            <% @favorites.each do |favorite|
                favorite.each do |f|%>
              <tr>
                <td><%= f.user_id %></td>
                <td><%= f.id %></td>
                <td><%= f.url %></td>
                <td><%= f.title %></td>
                <td><%= link_to 'Destroy', :action => 'destroyfavourite', :id => f.id %></td>
              </tr>
            <% end end %>
            </table>

            <h1>Listing Histories</h1>

            <table>
              <tr>
                <th>User Id</th>
                <th>History Id</th>
                <th>Date</th>
                <th>URL</th>
                <th>Title</th>
              </tr>
            <% @histories.each do |history|
                history.each do |h|%>
              <tr>
                <td><%= h.user_id %></td>
                <td><%= h.id %></td>
                <td><%= h.time.strftime("%m/%d/%Y %H:%M") %></td>
                <td><%= h.url %></td>
                <td><%= f.description %></td>
              </tr>
            <% end end %>
            </table>

        </div>
    </div>
</body>
</html>