<h1>Admnistrator Panel</h1>
<h2>Log in</h2>
<% address = get_address %>
<%= form_tag :action => "create" do %>
  <p>
    <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>

  <% if @msg != "" %>
    <p><%= @msg %></p>

<% end end %>