<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Concierge</title>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <link rel="apple-touch-icon" href="images/buttons/concierge-icon.jpg" />

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.6", "login", "application", "jquery.mobile-1.0a4.1" %>
  <%= csrf_meta_tag %>


</head>
<body>



<div id="web_homepage" data-role="page" data-position="inline" data-theme="a">

  <div data-role="header" data-position="fixed">

   <h1 id="logo" class="ui-title">Concierge</h1>

    <% address = get_address %>


      <% if current_user  && current_user.notAnonymus %>
        <a id="login" href='<%= address + "logout" %>' class="ui-btn-right" data-role="button" data-icon="gear">Logout</a>
      <% else %>
        <a href='<%= address + "login" %>' class="ui-btn-right"  data-role="button"  data-icon="gear">Login</a>
      <% end %>

  </div>


  <div id="content" data-role="content">
    <%= yield %>
  </div>


  <div data-role="footer" data-id="navbar" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="" class="home_btn link_to_homepage" data-icon="home">Home</a></li>
        <li ><a class="parse link_to_history" href='<%= address + "history" %>' data-icon="grid">History</a></li>

         <% if current_user  && current_user.notAnonymus %>
            <li ><a class="parse link_to_favourites" href='<%= address + "favourites" %>' data-icon="star">Favourites</a></li>
             <li ><a class=" link_to_options" href='<%= address + "options" %>' data-icon="gear">Options</a></li>
         <% end %>


      </ul>
    </div>
  </div>



 </div>

</body>

<script type="text/javascript">



</script>
</html>
